{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="columns is-centered">
		<div class="column">
			<!-- Content -->
			<div class="columns">
				<div class="column" style="text-align: justify">
					<h1 style="text-align: center">DOBRODOSLI U HOTEL GUMA!</h1>
					<div style="background-color: blanchedalmond; padding-left: 15px;padding-right: 15px;">
						<h4>1. Koji je povod pravljenja aplikacije i šta ona obuvhata?</h4>
						<p>Ova aplikacija je zavrsni proizvod projekta iz predmeta Softverski Alati.
							Napisana je u <b>Clojure</b> programskom jeziku uz pomoc alata <b>"Leiningen"</b>,
							Clojure Web frameworka <b>"Luminus"</b> i CSS biblioteke <b>"Bulma"</b></p>
						<p>Za izradu projekta su korisceni materijali sa predmeta softverski alati, kao i
							knjiga <b>"Web Development with Clojure"</b> koju su napisali Dimitri Sotnikov i Skot Brown</p>
						<hr style="background-color: #ccc;">
						<h4>2. Koja je ideja aplikacije?</h4>
						<p>Aplikacija predstavlja prilagodjenu verziju baze podataka koja bi olaksala vulkanizerima i mehenicarima
							rukovodjenje hotelom guma</p>
						<hr style="background-color: #ccc;">
						<h4>3. Sta je hotel guma?</h4>
						<p><b>Hotel guma</b> predstavlja skladistenje guma po svim standardima , uzimajući u obzir način skladištenja,
							sortiranje i numerisanje guma. Nastao je kao potreba musterija da ostave svoje vansezonske gume kod vulkanizera
							sa 2 cilja:
							<br> &#8226; Kako ne bi gume nepotrebno zauzimale mesto u stanu ili podrumu musterije
							<br> &#8226; Kako bi olaksalo musteriji promenu guma
						</p>
						<hr style="background-color: #ccc;">
						<h4>4. Koje su sve funkcionalnosti aplikacije?</h4>
						<p>Vulkanizer moze da kreira musterije i moze nad njima da vrsi osnovne CRUD operacije, isto vazi i za mesto.
							Korisnik moze u skladiste da unese gume korisnika, ali je potrebno da unese informacije o gumama, korisnika koji je
							ostavio gume na cuvanje, kao i mesto na kojem se gume cuvaju. Nakon rezervacije, uneto mesto je zauzeto i
							ne mogu se druge gume postaviti na to mesto. Ukoliko korisnik odluci da promeni mesto guma ili da gume izveze iz
							skladista, odabrano mesto treba da se oslobodi. Pre brisanja, mušterija ne smeju da imaju rezervacije u skladistu i
							mesta ne smeju da imaju gume</p>
						<hr style="background-color: #ccc;">
						<h4>5. Koji su najveći izazovi koje sam imao prilikom izrade projekta?</h4>
						<p>Najveći izazov je bio sam programski jezik Clojure. Razlog je to što se do dosadašnjeg školovanja nisam
							susretao sa Lisp jezicima niti njihovim interaktivnim developmentom. Nakon učenja njegovih osnovnih funkcionalnosti
							u konzolnim aplikacijama, prešao sam na izradu web aplikacije prateći uputstva pomenute knjige. Knjiga vrlo detaljno
							objašnjava pokretanje web aplikacije preko Leiningen alata, kreiranja tabela i njenih upita, ali sam imao problema
							prilikom kreiranja CRUD operacija nad entitetima iz tabela.</p><p>Problemi kojima sam posvetio najviše vremena za rešavanje
						su:<br> &#8226; API metode <br> &#8226; prikupljanje podataka iz URL-a <br> &#8226; Problem sa Lock migracijama </p>
						<p><b>Prvi problem:</b> Svaki pokušaj pozivanja bilo koje API metode osim GET i POST je predstavljao
							problem. Metode PUT i DELETE (koje se univerzalno koriste za izmenu i brisanje entiteta iz baze) nisu radile. Kako bih rešio ovaj
							problem, za sve API pozive koje bi vršile izmenu nad tabelom u bazi podataka sam koristio POST metodu. </p>
						<p><b>Drugi problem:</b> Prikupljanje podataka iz URLa. Pozivi na izmenu i brisanje entiteta iz baze (dugmići edit i delete)
							su prvenstveno trebali da budu u svakom redu, svakog entiteta u bazi; Međutim, program nije funckionisao ukoliko se jedna metoda sa istim
							nazivom poziva više puta na jednoj stranici. Uspeo sam svakoj metodu da preimenujem tako da ima drugačiji naziv, ali je nakon toga problem
							predstavljao prosleđivanje id-a entiteta stranicama za izmenu i brisanje. Testirao sam metode koje su imale zadatak da prikupe id
							i prikažu podatke sa fiksnim vrednostim (npr: /edit-Musterije/id/3) i one su funkcionisale, ali svaki pokušaj prosleđivanja vrednosti iz
							URL-a u metodu je izbacio grešku sa natpiosom da id ne može biti null vrednost. Jedina alternativa je bila da se ovi dugmići ponovo
							definišu kao univerzalni, tako da korisnik mora da unese id entiteta kako bi vršio promene nad tim entitetom.</p>
						<p><b>Treci problem:</b> Lock migracije. Prilikom kreiranja migracija i njihvog izvrsenja, napravio sam grešku prilikom kreiranja tabele.
							Nakon višestrukog pokušaja za ponovno migriranje, pojavila se greška "Migration reserved by another instance". Svaki pokušaj
							promene migracija ili baze podataka je bio bezuspešan. Problem sam rešio tako što sam napravio novi projekat i ponovo izvršio
							migraciju svih tabela iz baze podataka</p><br>
						<p>Autor: <b>Nemanja Stepic 3725/22</b></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}